In [1]:
primes = [2, 3, 5, 7]

In [2]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [7]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
# hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [8]:
print(hands)

[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A']]

In [9]:
my_favourite_things = [32, 'raindrops on roses', help]
# (Yes, Python's help function is *definitely* one of my favourite things)

In [12]:
print(type(my_favourite_things[0]))

<class 'int'>

In [16]:
planets[1:2]

['Venus']

In [25]:
planets[1:3]

['Venus', 'Earth']

In [56]:
numbers=[]
for i in range(10):
    numbers.append(i)
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
# All the planets except the first and last
numbers[2:-1]

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98]

In [33]:
# The last 3 planets
numbers[-3:]

[97, 98, 99]

In [35]:
# Changing lists
# Lists are "mutable", meaning they can be modified "in place".

# One way to modify a list is to assign to an index or slice expression.

# For example, let's say we want to rename Mars:

In [36]:
numbers[3] = 'Malacandra'
numbers

[0,
 1,
 2,
 'Malacandra',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [37]:
numbers[:3] = ['Mur', 'Vee', 'Ur']
print(numbers)
# That was sil|ly. Let's give them back their old names
numbers[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]

['Mur', 'Vee', 'Ur', 'Malacandra', 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [38]:
# How many planets are there?
len(numbers)

100

In [41]:
# The planets sorted in alphabetical order
numbers[:4] = [0,1,2,3]
sorted(numbers)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [43]:
numbers.sort(reverse=True)
numbers

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [44]:
sum(numbers)

4950

In [45]:
max(numbers)

99

In [47]:
x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c.imag)

0
3.0

In [48]:
x.bit_length

In [50]:
print(x.bit_length())

4

In [51]:
# List methods

In [54]:
# Pluto is a planet darn it!
numbers.append(100)

In [57]:
numbers = numbers[:10]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
numbers.append(11)
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 11]

In [60]:
numbers.pop()

11

In [61]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [64]:
numbers.index(1)

1

In [65]:
0 in numbers

True

# Tuples
## Tuples are almost exactly the same as lists. They differ in just two ways.

1: The syntax for creating them uses parentheses instead of square brackets

In [66]:
t = (1, 2, 3)

In [67]:
t = 1, 2, 3 # equivalent to above
t

(1, 2, 3)

2: They cannot be modified (they are immutable).

In [68]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [69]:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [71]:
x=3
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

3.0

In [72]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1

In [81]:
numbers.reverse()
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]