In [1]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [3]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [4]:
hello = "hello\nworld"
print(hello)

hello
world

In [5]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

In [6]:
# ALL CAPS
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [7]:
claim

'Pluto is a planet!'

In [8]:
# all lowercase
claim.lower()

'pluto is a planet!'

In [11]:
planet = 'Plut'
claim.startswith(planet)

True

In [12]:
claim.endswith('dwarf planet')

False

In [13]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [14]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')

In [15]:
'/'.join([month, day, year])

'01/31/1956'

In [23]:
"{}, you'll always be the {} th planet to me.".format(planet,213)

"Plut, you'll always be the 213 th planet to me."

In [24]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Plut weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [25]:
# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

## Dictionaries
Dictionaries are a built-in Python data structure for mapping keys to values.

In [26]:
numbers = {'one':1, 'two':2, 'three':3}

In [27]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [28]:
 import string

In [29]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [31]:
alphabet = string.ascii_uppercase
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [34]:
ascii_code = {i + 46 : alphabet[i]
             for i in range(len(alphabet))}
ascii_code

{46: 'A',
 47: 'B',
 48: 'C',
 49: 'D',
 50: 'E',
 51: 'F',
 52: 'G',
 53: 'H',
 54: 'I',
 55: 'J',
 56: 'K',
 57: 'L',
 58: 'M',
 59: 'N',
 60: 'O',
 61: 'P',
 62: 'Q',
 63: 'R',
 64: 'S',
 65: 'T',
 66: 'U',
 67: 'V',
 68: 'W',
 69: 'X',
 70: 'Y',
 71: 'Z'}

In [35]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = 1
two = 2
three = 3

In [36]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [37]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"